.vscode/
01_raw/
02_work/04_ref/
90_scratch/
00_admin/env/
05_analysis/de_timecourse/
*.fastq.gz
*.fq.gz
*.bam
*.sam
*.cram
*.vcf
*.json
*.zip
.DS_Store
05_analysis/scRNA-Seq_gene_expression_fb_2025_05.tsv.gz.tsv