.vscode/
01_raw/
02_work/04_ref/
90_scratch/
00_admin/env/
00_admin/metadata/
04_logs/
05_analysis/
98_docs/
99_mercor/
.RData
.Rhistory
*.fastq.gz
*.fq.gz
*.bam
*.sam
*.cram
*.vcf
*.json
*.zip
.DS_Store
